data/logs/*
data/results/*
data/examples/*
.env
jobs/
storage/*
!storage/users
storage/users/*
!storage/users/user1
storage/users/user1/*/
storage/users/user1/slurm-*.out
!storage/public/
storage/public/containers/*
!storage/public/containers/*.def

storage.bak/

traefik-dynamic/*
!traefik-dynamic/.gitkeep

